* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: "Outfit";
    font-size: 1rem;
    background: url("../images/qa-bg.jpg");
    background-size: cover;
}
.container {
     width: 78%;
    max-width: 700px;
     display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}