.button {
  background-color: #263fa9;
  border: none;
  outline: none;
  color: #f2f5f9;
  border-radius: 12px;

  cursor: pointer;
}

.qr-generate-button {
  position: absolute;
  width: 20%;
  bottom: 6px;
  right: 6px;
  padding: 14px;
}
.download-button {
  padding: 14px;
  flex-grow: 1;
  width: 80%;
}
.share-button {
  padding: 14px;
  width: 200px;
}

.svg-images-button {
  margin-left: 16px;
}
