.input-button-container {
    position: relative;
    display: flex;
    justify-content: space-between;
     width: 100%;
   background-color: #030616;
   border: 2px solid #263FA9;
   padding: 4px;
   border-radius: 16px;
   color:#FAFAF9;
   gap:0;
    
}