.QR {
    padding: 22px;
    background-color: #F2F5F9;
    border-radius: 24px;
}
.circle-background {
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    z-index: -1;
    background-color: #F8FAFC1A;
    width: 250px;
    height: 250px;
}